ADMIN_USER=admin
ADMIN_PASS=282728
AUTH_SECRET=troque_por_um_texto_grande_e_secreto
SESSION_SECRET=troque_por_um_texto_grande_e_secreto
EXTERNAL_SYSTEM_URL=https://lcauditt.vercel.app/
NODE_ENV=development
